pipelines:
  branches:
    master:
      - step:
          name: Deploy on Private Linux Server
          runs-on:
            - self.hosted
            - linux
          script:
            - echo "Installing dependencies..."
            - npm install

            - echo "Building app..."
            - npm run build

            - echo "Copying build files to server folder..."
            - cp -r dist/* /var/www/server/dist/

            - echo "Restarting PM2..."
            - pm2 reload server || pm2 start /var/www/server/dist/main.js --name server

            - echo "Deployment complete."
