pipelines:
  branches:
    master:
      - step:
          name: Build and Deploy on Private Server
          runs-on:
            - self.hosted
            - linux
          image: node:18.19.1
          script:
            - echo "Installing dependencies..."
            - npm install

            - echo "Running tests..."
            - npm run test

            - echo "Building NestJS app..."
            - npm run build

            - echo "Installing PM2..."
            - npm install -g pm2

            - echo "Restarting PM2 app..."
            - pm2 stop nestapp || true
            - pm2 start dist/main.js --name nestapp
            - pm2 save
